@extends('layout/layout_main')

@section('setting')
    @include('partial/head_setting')
@endsection

@section('header')
    @include('partial/header')
@endsection

@section('navbar')
    @include('partial/navbar')
@endsection

@section('content')
    @if (Route::is('bahan.daftar'))
        @include('partial/daftar_bahan')
    @elseif (Route::is('bahan.detail'))
        @include('partial/detail_bahan')
    @endif
    {{-- <div>
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Nama</th>
                    <th>Deskripsi</th>
                    <th>Stok</th>
                    <th>Terakhir Restok</th>
                </tr>
            </thead>
            @foreach ($daftarBahan as $bahan)
                <tr>
                    <td>
                        {{ $bahan->nama }}
                    </td>
                    <td>
                        {{ $bahan->deskripsi }}
                    </td>
                    <td>
                        {{ $bahan->stok }}
                    </td>
                    <td>
                        {{ $bahan->tanggal_restok }}
                    </td>
                    <td>
                        <a href="#">Update</a>
                        <a href="#">Delete</a>
                    </td>
                </tr>
            @endforeach
        </table>
    </div> --}}
@endsection

@section('footer')
    @include('partial/footer')
@endsection
