<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
    <div class="card-body d-flex flex-column justify-content-between gap-2">
        <div>
            <h5 class="card-title">{{ $bahan->nama }} - {{ $bahan->stok }}</h5>
            {{-- <p class="card-text">{{ $bahan->deskripsi }}</p> --}}
            <p class="card-text">Terakhir restok: {{ $bahan->tanggal_restok }}</p>
        </div>
        <div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#modalBahanDetail">Deskripsi</button>
            <button type="button" id="{{ $bahan->id }}" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#modalBahanUpdate" onclick="setUpdateForm()">Update</button>
            <a href="#" class="btn btn-primary">Hapus</a>
        </div>
    </div>
</div>
