<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
    <div class="card-body d-flex flex-column justify-content-between gap-2">
        <div>
            <h5 class="card-title">{{ $menu->nama }}</h5>
            {{-- <p class="card-text">{{ $menu->deskripsi }}</p> --}}
            <p class="card-text">Status: {{ $menu->status }}</p>
            <p class="card-text">Harga: {{ $menu->harga }}</p>
            <p class="card-text">
                Bahan:
                @foreach ($menu->bahan as $bahan)
                    <br>- {{ $bahan->nama }} ({{ $bahan->pivot->jumlah }})
                @endforeach
            </p>
        </div>
        <div>
            <a href="#" class="btn btn-primary">Edit</a>
            <a href="#" class="btn btn-primary">Hapus</a>
        </div>
    </div>
</div>
