<div class="d-flex flex-row justify-content-around align-items-center">
    <p class="text-white fs-6">Telp: 8888888888888</p>
    <p class="text-white fs-6">E-mail: kateringnegong@mail.com</p>
    <p class="text-white fs-6">Alamat: Jl. Ters. Cilliwung No. 8, Bandung</p>
</div>
