<main class="form-registration d-flex flex-column align-items-center gap-2">
    <h1>Daftar</h1>
    <form action="/auth/daftar" method="post" class="form form-float">
        @csrf
        <div class="form-floating">
            <input type="text" id="namaInput" name="nama" value="{{ old('nama') }}"
                class="form-control rounded-top @error('nama') is-invalid @enderror" autofocus required>
            <label for="namaInput">Nama: </label>
        </div>
        <div class="form-floating">
            <input type="text" id="emailInput" name="email" value="{{ old('email') }}"
                class="form-control rounded-top @error('email') is-invalid @enderror" required>
            <label for="emailInput">Email: </label>
        </div>
        <div class="form-floating">
            <input type="password" id="passwordInput" name="password" value="{{ old('password') }}"
                class="form-control rounded-top @error('password') is-invalid @enderror" required>
            <label for="passwordInput">Password: </label>
        </div>
        <div class="form-floating">
            <input type="password" id="password2Input" name="password_confirmation"
                value="{{ old('password_confirmation') }}"
                class="form-control rounded-top @error('password_confirmation') is-invalid @enderror" required>
            <label for="password2Input">Konfirmasi Password: </label>
        </div>
        <input type="submit" class="btn btn-primary" value="Daftar">
    </form>
</main>
