<form action="/menu/update" method="post">
    <label for="namaInput">Nama: </label><br>
    <input type="text" id="namaInput" name="nama" autofocus required><br>

    <label for="hargaInput">Harga: </label><br>
    <input type="text" id="hargaInput" name="harga"><br>

    <label for="deskripsiInput">Deskripsi: </label><br>
    <input type="text" id="deskripsiInput" name="deskripsi"><br>

    <label for="contentInput">Content: </label><br>
    <textarea id="contentInput" cols=100 rows=5 name="content" required></textarea><br>

    <input type="submit" value="Post">
</form>
