<div class="col-sm d-flex flex-row justify-content-start">
    <a href="/" class="btn btn-warning btn-lg">KATERING NEGONG</a>
</div>
<div class="col-sm d-flex flex-row justify-content-end align-items-center gap-1">
    @auth
        <a href="/profil" class="btn btn-secondary btn-sm">{{ auth()->pengguna()->nama }}</a>
        <a href="/auth/keluar" class="btn btn-secondary btn-sm">Keluar</a>
    @else
        <a href="/auth/masuk" class="btn btn-secondary btn-sm">Masuk</a>
        <a href="/auth/daftar" class="btn btn-secondary btn-sm">Daftar</a>
    @endauth
</div>
