<div class="modal" id="modalBahanUpdate" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deskripsi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="formBahanUpdate" action="bahan/{{ $bahan->id }}/update" method="post">
                    @csrf
                    <label for="inputJumlahRestok">Tambah stok:</label>
                    <input type="number" id="inputJumlahRestok" name="jumlahRestok" min=1>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="formBahanUpdate">Update</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
