<div class="d-flex flex-column gap-2">
    <a href="/pesanan" class="btn btn-dark btn-sm">Pesanan</a>
    <a href="/menu" class="btn btn-dark btn-sm">Menu</a>
    <a href="/bahan" class="btn btn-dark btn-sm">Bahan</a>
    <a href="/statistik" class="btn btn-dark btn-sm">Statistik</a>
    <a href="/about" class="btn btn-dark btn-sm">About</a>
</div>
