<!doctype html>

<html lang="en">

<head>
    @yield('setting')
</head>

<body class="container-fluid">
    <div class="row sticky-top bg-dark p-2">
        @yield('header')
    </div>
    <div class="row p-2">
        @yield('content')
    </div>
    <div class="row bg-dark p-2">
        @yield('footer')
    </div>
</body>

</html>
